.my-title {
    color: orange;
    background: black;
    padding: 10px;
    border: 5px solid yellow;
}

.my_title {
    color: yellowgreen;
    background: black;
    padding: 10px;
    border: 5px solid yellowgreen;
}